body{
    background-color: black;
    mask-repeat: no-repeat;
    background-size: cover;
}
header{
    border: 10px;
    height: 75px;
    
    background-color: rgb(240, 240, 240);
    margin: -25px;
}

img{
    margin-left: 1230px;
    margin-top: 20px;
    height:50px ;
    width: 50px;

}
